.btn {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: $border-radius;
  text-align: center;

  &:hover {
    opacity: 0.75;
  }

  &.active {
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary;
  }

  & + .btn-block {
    margin-top: 20px;
  }
}

.btn-block {
  display: block;

  & + .btn-block {
    margin-top: 20px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
}

.btn-secondary {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.btn-group {
  display: flex;
  justify-content: flex-start;

  .btn {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }
  .btn:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .btn:last-child {
    border-right: 1px solid;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
