.btn {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: $border-radius;

  &:hover {
    opacity: 0.75;
  }

  & + .btn-block {
    margin-top: 20px;
  }
}

.btn-block {
  display: block;

  & + .btn-block {
    margin-top: 20px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
}

.btn-secondary {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}
