.controls {
  margin-top: 30px;

  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.controls-item {

  a.btn {
    width: 100%;
  }

  @include breakpoint(sm) {
    flex-grow: 1;

    a.btn {
      width: auto;
    }

    &:last-child {
      text-align: right;
    }
  }
}
