form {

}

input,
textarea {
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  padding: 5px;
}

.form-row {
  display: flex;
  justify-content: flex-start;

  > * {
    flex: 1;
  }
}
