form {
  margin-bottom: 30px;

  label {
    display: block;
  }
}

input,
textarea {
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  padding: 10px;

  &:disabled {
    background: lighten(grey, 40%);
    cursor: not-allowed;
  }
}

.form-row {
  margin-bottom: 10px;

  @include breakpoint(sm) {
    display: flex;
    justify-content: flex-start;

    > * {
      flex-basis: 50%;
    }
  }

}
