.wrapper {
  margin: 0 auto;
  padding: 30px 15px;

  @include breakpoint(sm) {
    max-width: $wrapper-max-width-sm;
  }

  @include breakpoint(md) {
    max-width: $wrapper-max-width-md;
  }

  @include breakpoint(lg) {
    max-width: $wrapper-max-width-lg;
  }
}
