<h1>Notes Overview</h1>
<nav class="meta">
  <div class="meta-item">
    <a href="#add" class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i> Create new Note</a>
  </div>
  <div class="meta-item">
    <select name="style-swich" class="" id="style-switch">
      <option value="default">Default Theme</option>
      <option value="dark">Dark Theme</option>
    </select>
  </div>
</nav>
<nav class="controls">
  <div class="controls-item btn-group" id="sort-options">
    <a href="" id="sort-by-date-due" class="btn btn-secondary active">By due Date</a>
    <a href="" id="sort-by-date-created" class="btn btn-secondary">By created Date</a>
    <a href="" id="sort-by-date-finished" class="btn btn-secondary">By finished Date</a>
    <a href="" id="sort-by-priority" class="btn btn-secondary">By Importance</a>
  </div>
  <div class="controls-item">
    <a href="" id="show-finished" class="btn btn-secondary">Show finished <i id="show-finished-status" class="fa fa-square-o" aria-hidden="true"></i></a>
  </div>
</nav>

<div id="note-list-wrapper">

</div>
