<li class="notes-list-item">

  <div class="notes-list-item-col">
    <div class="notes-list-item-due">{{ due }}</div>
    <div class="notes-list-item-finished">
      <input type="checkbox" id="item-finished"><label for="item-finished">Finished (date...)</label>
    </div>
  </div>

  <div class="notes-list-item-col">
    <h2 class="notes-list-item-title">{{ title }}</h2>
    <div class="notes-list-item-description">
      {{ description }}
    </div>
  </div>

  <div class="notes-list-item-col notes-list-item-edit">
    <a href="edit.html" class="btn btn-primary">Edit</a>
  </div>
</li>
