<div class="controls">
  <div class="controls-item btn-group">
    <a href="" class="btn btn-secondary">By finish Date</a>
    <a href="" class="btn btn-secondary">By created Date</a>
    <a href="" class="btn btn-secondary">By Importance</a>
  </div>
  <div class="controls-item">
    <a href="" class="btn btn-secondary">Show finished</a>
  </div>
</div>
