<div class="notes-list">
  <div class="notes-list-item">

    <div class="notes-list-item-col">
      <div class="notes-list-item-due">Nächsten Mittwoch</div>
      <div class="notes-list-item-finished">
        <input type="checkbox" id="item-finished"><label for="item-finished">Finished (date...)</label>
      </div>
    </div>

    <div class="notes-list-item-col">
      <h2 class="notes-list-item-title">CAS FEE Selbststudium / Projekt Aufgabe erledigen</h2>
      <div class="notes-list-item-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus earum enim, excepturi ipsa, itaque
        minima repellat saepe similique sint suscipit tempore totam. Accusantium error eveniet, maxime nemo quod unde.
      </div>
    </div>

    <div class="notes-list-item-col notes-list-item-edit">
      <a href="" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
