<div class="meta">
  <div class="meta-item">
    <a href="" class="btn btn-primary">Create new Note</a>
  </div>
  <div class="meta-item">
    <label for="style-switch">Select theme</label>
    <select name="style-swich" class="js-style-switch" id="style-switch">
      <option value="default">Default</option>
      <option value="dark">Dark</option>
    </select>
  </div>
</div>
